pre {
    background-color: #eeeeee;
    padding: 0.5rem;
    margin: 0rem 1rem 1rem 1rem;
}

/* pre code {
    color: #aa2244;
} */

h2,
h3 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: darkslategray;
    background-color: oldlace;
    padding: .5rem;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 75%;
    background-color: darkslategray;
}

li {
    margin-bottom: 0.5rem;
}

blockquote {
    text-align: left;
    padding: 0.5rem 1.5rem;
    margin: 1.5rem 0;
    border-left: 10px solid #ee6c4d;
    background-color: beige;
}

blockquote p {
    margin: 0.5rem 0;
}