html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fcfcf0;
}

#app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background: linear-gradient(
        to right bottom,
        rgba(212, 237, 176, 0.25),
        rgba(176, 212, 237, 0.25)
    ); */
}

.container {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    border: 0;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}

.main-container {
    border: 1px rgba(0, 0, 0, 0.25) solid;
    border-radius: 0.25rem;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

@media (min-width: 576px) {
    .container {
        max-width: 544px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1168px;
    }
}

textarea {
    resize: both;
    width: 100%;
    max-width: 100%;
}

.markdown {
    height: 500px;
    min-height: 200px;
}

label {
    display: block;
}

.w-100 {
    width: 100%;
}

.mw-100 {
    max-width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.border-top {
    border-top: 1px solid #d3d3d3;
}

.border-bottom {
    border-bottom: 1px solid #d3d3d3;
}

.bg-white {
    background-color: #ffffff;
}

/* text styles */

.font-italic {
    font-style: italic;
}

.bigger {
    font-size: 120%;
}

.text-muted {
    color: #6c757d;
}

.font-weight-bolder {
    font-weight: bolder;
}

.text-danger {
    color: #dc3545;
}

small {
    font-size: 80%;
}

.text-uppercase {
    text-transform: uppercase;
}

/* end text styles */
