html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #b7b7a4;
}

.bg-lt-brown {
    background-color: #ddbea9;
}

textarea {
    resize: both;
    width: 100%;
    max-width: 100%;
}

.markdown {
    height: 500px;
    min-height: 200px;
}

label {
    display: block;
}

.header {
    margin-bottom: 0;
}

.footer {
    margin-top: 0;
}

.header-bottom {
    background-color: peachpuff;
}

@media (min-width: 768px) {
    .header {
        margin-bottom: 1.5rem;
    }
    
    .footer {
        margin-top: 1.5rem;
    }

    .header-bottom {
        background-color: #ddbea9;
    }
}