.footer {
    width: 100%;
    border-top: 1px #6c757d solid;
    font-size: 80%;
    background-color: #d3d3d3;
    display: flex;
    line-height: 1.15;
}

.footer-left {
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    border-right: 1px #999999 solid;
}

.footer-right {
    flex: 1;
    text-align: center;
    border-left: 1px #999999 solid;
    padding: 0.5rem;
}

.mb-2 {
    margin-bottom: 0.50rem;
}

.contact {
    font-size: 1rem;
    font-weight: bolder;
}
