.admin-nav {
    width: 100%;
    background-color: #d3d3d3;
    display: flex;
    border-bottom: 1px #6c757d solid;
    padding: 0.25rem;
}

.nav-add {
    flex: 1;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    margin-right: 1rem;
}

.nav-auth {
    flex: 1;
    display: flex;
    align-self: center;
    justify-content: flex-start;
    margin-left: 1rem;
}
