h2.heading {
    font-variant: small-caps;
    letter-spacing: 1px;
    color: firebrick;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
}

h3 {
    color: darkslategrey;
    font-size: clamp(1.25rem, 0.7vw + 0.7rem, 1.50rem);
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin: 2rem auto !important;
    width: 75%;
    background-color: #333333;
}

.article li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: clamp(1rem, 0.55vw + 0.55rem, 1.1rem);
    max-width: 100ch;
}

blockquote {
    text-align: left;
    padding: 0.5rem 1.25rem;
    margin: 1.5rem 0;
    border-left: 5px solid #ee6c4d;
    background-color: beige;
}

blockquote p {
    margin: 0.5rem 0;
}

.article em {
    font-style: italic;
    padding: 0 0.25rem;
    color: firebrick;
    background-color: #f5f5f5;
}

.article p {
    font-size: clamp(1rem, 0.55vw + 0.55rem, 1.1rem);
    max-width: 120ch;
}

.article strong {
    color: firebrick;
    background-color: rgba(0, 0, 0, .05);
    padding: 0 0.25rem;
}

button {
    padding: 0.50rem;
}