h2 {
    text-transform: uppercase;
}

h3 {
    color: rgba(0, 0, 0, 1);
    font-size: clamp(1.25rem, 0.7vw + 0.7rem, 1.50rem) !important;
    /* background-color: rgba(176, 212, 237, 0.25);
    padding: 0.5rem; */
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin: 2rem auto !important;
    width: 75%;
    background-color: #333333;
}

li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

blockquote {
    text-align: left;
    padding: 0.5rem 1.25rem;
    margin: 1.5rem 0;
    border-left: 5px solid #ee6c4d;
    background-color: beige;
}

blockquote p {
    margin: 0.5rem 0;
}

em {
    font-style: italic;
    padding: 0 0.35rem;
    background-color: rgba(241, 241, 214, 0.60);
}
