.navdropbtn {
    background-color: #B0D4ED;
    color: #333333;
    padding: 0.3rem 0.5rem;
    margin: 0;
    font-size: 1.10rem;
    border: 1px #999999 solid;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-variant-caps: small-caps;
    letter-spacing: 1px;
    white-space: nowrap;
}

.navdropbtn:hover {
    background-color: #E8B998;
}

.navdropdown {
    position: relative;
    display: inline-block;
}

.navdropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0 0 0 -50px;
}

.navdropdown-content a {
    color: #216290;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    display: block;
}

.navdropdown-content a:hover {
    background-color: #1B5278;
    color: #F9FCFE;
    text-decoration: none;
}

.navdropdown:hover .navdropdown-content {
    display: block;
}

.navdropdown:hover .navdropbtn {
    background-color: #F2D9C7;
    color: #A85C26;
}

.item {
    border-top: 1px #d3d3d3 solid;
    border-right: 1px #d3d3d3 solid;
    border-left: 1px #d3d3d3 solid;
}

i {
    border: solid #333333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 0 3px 4px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.viewing {
    cursor: default;
    color: #7c8787 !important;
}

.viewing:hover {
    background-color: #ffffff !important;
}

.current-text {
    margin-left: 0.50rem;
}

@media (min-width: 576px) {
    .navdropbtn {
        letter-spacing: 1px;
        font-size: 1.25rem;
    }
}
