.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.border {
    border: 1px solid #d3d3d3;
}

.col,
.col-auto,
.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.card1-heading {
    background-color: rgba(169, 200, 221, 0.5);
    color: #333333;
}

.card2-heading {
    background-color:rgba(174, 221, 169, 0.5);
    color: #333333;
}

.me-pic {
    width: 60px;
    height: auto;
    margin-bottom: -35px;
    border-radius: 50%;
}

.indent {
    margin-left: 50px;
}

.wda {
    color: rgba(128, 128, 128, 0.6);
}

.article-icon {
    padding: 0.15rem;
    font-size: 12.5%;
    background-color: #ffffff;
    border: 1px #999999 solid;
    width: 60px;
    height: 60px;
    margin-bottom: -35px;
    overflow: hidden;
    border-radius: 0.1rem;
    transform: rotate(2deg);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.article-icon > p {
    margin-bottom: 0.20rem;
}

.article-icon-h3 {
    color: darkslategray;
    background: linear-gradient(175deg, rgba(169, 200, 221, 0.4), rgba(174, 221, 169, 0.4));
    padding: 0.10rem;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.article-icon-quote {
    text-align: left;
    padding: 0.10rem 0.15rem;
    margin: 0;
    border-left: 2px solid #ee6c4d;
    background-color: beige;
}
