.header {
    width: 100%;
    background-color: #ddbea9;
    display: flex;
    border-bottom: 1px #6c757d solid;
    padding: 0.25rem;
}

.header-left {
    flex: 1;
    text-align: center;
}

h1 {
    margin: 0 !important;
}

.header-right {
    flex: 1;
    display: flex;
    align-self: center;
    justify-content: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

.logo-text {
    color: #212529;
    font-size: 1.75rem;
    text-decoration: none;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
    letter-spacing: 1px;
    white-space: nowrap;
}

a:hover {
    text-decoration: none !important;
}

@media (min-width: 576px) {
    .header-left {
        flex: 2;
        text-align: center;
    }

    .header-right {
        flex: 1;
        display: flex;
        align-self: center;
        justify-content: flex-start;
    }

    .logo-text {
        letter-spacing: 2px;
        font-size: 2rem;
    }
}
