.header {
    width: 100%;
    background-color: #ddbea9;
    display: flex;
    border-bottom: 1px #6c757d solid;
    padding: 0.50rem;
}

.header-left {
    flex: 2;
    text-align: center;
}

.header-right {
    flex: 1;
    display: flex;
    align-self: center;
    justify-content: flex-start;
}

.logo {
    max-width: 100%;
    height: auto;
}
